.clock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;

  background: #eeeeee;
  box-shadow: 12px 12px 28px rgba(38, 40, 42, 0.15);
  border-radius: 20px;
  padding: 2.5rem;

  /* z-index: 9999; */

  position: absolute;
  top: -5rem;

  text-align-last: center;

  width: 100%;
  max-width: 75vw;

  text-align: center;
}

@media screen and (max-width: 966px) {
  .clock {
    max-width: 90vw;
  }

  .countdown {
    gap: 0.5rem;
  }
}

.countdown {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* Not currently using the temp and c02 scripts */

/* .gTemp {
  display: flex;
  flex-direction: column;
} */

/* .ceeOhTwo {
  display: flex;
  flex-direction: column;
} */

.clockHeader {
  color: var(--ifm-color-secondary);
  /* font-size: xx-large; */
}

.clockText {
  color: black;
  /* font-size: large; */
}

.clockMain {
  /* display: none; */
  display: flex;
  /* border: 2px solid red; */
  justify-content: space-around;
  align-items: baseline;
  width: 100%;
}

.clockMain > span {
  text-align: center;
  justify-content: center;
  font-weight: 700;
  /* letter-spacing: 0.2rem; */
}

.number {
  font-weight: bold;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  letter-spacing: 0.01rem;
}
