.cardContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;

  gap: 10vmin;

  max-width: 80%;
  align-self: center;
}

@media screen and (max-width: 966px) {
  .cardContainer {
    flex-direction: column !important;
  }
}

.cardText {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cardImg {
  width: 30vmax;
  height: 30vmax;
}

.cardButton {
  /* max-width: 35%; */
  background-color: var(--ifm-color-secondary) !important;
  text-align: center;
  color: white !important;
}

.cardButton:hover {
  background-color: var(--ifm-color-secondary) !important;
  transform: scale(1.1);
  transition: ease-in-out 0.1s;
  color: black !important;
}
