.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 5vmin;
  align-self: center;
  margin-top: 80px;
  margin-bottom: 80px;
}

.cardText {
  display: block;
}

.cardDescription {
  padding-bottom: 26px;
}

.cardImg {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

@media screen and (min-width: 966px) {
  .cardContainer {
    flex-direction: row;
  }
  .cardImg{
    width: 42%;
    height: 100%;
  }
}