.cardContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;

  gap: 10vmin;

  max-width: 80%;
  align-self: center;
}

.cardText {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cardImg {
  width: 30vw;
  height: 30vw;
}

.cardButton {
  max-width: 35%;
  text-align: center;
}
