/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainBody {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
