/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

:root {
  --ifm-color-primary: #3a843c;
  --ifm-color-primary-dark: darken(#3a843c, 10%);
  --ifm-color-primary-darker: darken(#3a843c, 20%);
  --ifm-color-primary-darkest: darken(#3a843c, 30%);
  --ifm-color-primary-light: lighten(#3a843c, 10%);
  --ifm-color-primary-lighter: lighten(#3a843c, 20%);
  --ifm-color-primary-lightest: lighten(#3a843c, 30%);
  --ifm-code-font-size: 95%;

  --ifm-color-secondary: #be4721;
  --ifm-color-secondary-dark: darken(#be4721, 10%);
  --ifm-color-secondary-darker: darken(#be4721, 20%);
  --ifm-color-secondary-darkest: darken(#be4721, 30%);
  --ifm-color-secondary-light: lighten(#be4721, 10%);
  --ifm-color-secondary-lighter: lighten(#be4721, 20%);
  --ifm-color-secondary-lightest: lighten(#be4721, 30%);
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme="dark"] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

.navbar {
  background-color: var(--ifm-color-primary);
}

.navbar__item {
  color: white;
}

.navbar__brand {
  color: white;
}

.footer {
  background-color: var(--ifm-color-primary);
  color: white;
}

.footer__link-item {
  color: white;
}
