.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;

  position: relative;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.heroBanner {
  background-image: url("~@site/static/img/design/hp-hero.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* height: 67vh; */

  font-family: "Roboto";
  font-style: normal;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.headerBackground {
  background-color: #3a843c;
}

.headerSubtitle {
  text-transform: uppercase;
  font-size: 3vmin;
  width: auto;
}

.cthLink {
  background-color: #be4721;
  border: #be4721;
}

.cthLink:hover {
  background-color: #be4721e7;
  transform: scale(1.05);
  transition: ease-in-out 0.1s;
}
