.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.heroBanner {
  background-image: url("~@site/static/img/design/hp-hero.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  height: auto;
}

.headerBackground {
  background-color: #3a843c;
}
