.heroBanner {
  background-image: url("~@site/static/img/design/hp-hero.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 60vh;

  font-family: "Roboto";
  font-style: normal;
  padding: 4rem 0;
  /* text-align: center; */
  position: relative;
  overflow: hidden;

  position: relative;

  background-color: #26282a;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  /* gap: 2rem; */

  padding-bottom: 7rem;

  align-items: flex-start;
}

.headerBackground {
  background-color: #3a843c;
}

.headerStatement {
  font-size: 1.5rem;
}

.headerSubtitle {
  text-transform: uppercase;
  font-size: 4rem;
  width: auto;
}

.cthLink {
  background-color: #be4721;
  border: #be4721;
}

.cthLink:hover {
  background-color: #be4721e7;
  transform: scale(1.05);
  transition: ease-in-out 0.1s;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem 0;
  }
}

@media screen and (max-width: 966px) {
  .headerSubtitle {
    font-size: 5vmin;
  }
}
